# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
.venv/
env/

# Ignore VS Code settings
.vscode/

# Ignore test results
*.pytest_cache/

#Ignores the build folder
build/